// Font Families
$g-font-primary: "Encode Sans",
sans-serif;
// Font Sizes
// $g-font-primary-size: 16px;
//
// Colors
//
// Primary Color
$g-color-primary: #fa7035;
$g-color-primary-light-v1: #2f2d27;
// Main Colors
$g-color-text: #6f7274;
$g-color-secondary: #f8f8f9;
$g-color-dark: #13181d;
$g-color-dark-light-v1: #0e151b;
$g-color-main: #790b89;
$g-color-main-light-v1: #dbdfe3;